.home {
  display: flex;
  flex: 1;
  flex-direction: column;
  &-raids {
    display: flex;
    flex: 8;
    justify-content: space-around;
    align-items: center;
    font-family: $base-font;
    &-left {
      flex: 1;
      height: 100%;
      padding: 10px;
      display: flex;
      flex-direction: column;
      &-title {
        flex: 0.5;
        h3 {
          font-size: 2.5em;
          font-weight: bold;
          font-family: $pixel-font;
          margin-top: 0;
        }
      }
      &-content {
        flex: 9.5;
        overflow-y: scroll;
        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
    &-right {
      flex: 1;
      height: 100%;
      padding: 10px;
      display: flex;
      flex-direction: column;
      &-title {
        flex: 0.5;
        h3 {
          font-size: 2.5em;
          font-weight: bold;
          font-family: $pixel-font;
          margin-top: 0;
        }
      }
      &-content {
        flex: 9.5;
        overflow-y: scroll;
        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }
}

@media (max-width: $screen-xs) {
  .home {
    &-raids {
      flex-direction: column;
      &-left {
        h3 {
          font-size: 1.5em;
        }
        &-content {
          font-size: small;
        }
      }
      &-right {
        h3 {
          font-size: 1.5em;
        }
        &-content {
          font-size: small;
        }
      }
    }
  }
  .dropdown {
    font-family: $base-font;
  }
}
