.home {
  display: flex;
  flex-direction: column;
  flex: 1;
  &-header {
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: center;
    position: relative;
    &-btn {
      position: absolute;
      top: 10px;
      right: 10px;
    }
    &-title {
      position: relative;
      a {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        z-index: 2;
      }
      h1 {
        margin: 0;
        font-size: 4.5em;
        line-height: 36px;
        font-family: $title-font;
      }
      p {
        color: #ffcc02;
        font-size: 2.28rem;
        padding-left: 7.4%;
        margin: 0;
        font-family: $pixel-font;
      }
    }
  }
  &-raids {
    display: flex;
    flex: 8;
    justify-content: space-around;
    align-items: center;
    font-family: $pixel-font;
    &-left {
      height: 80%;
      padding: 10px;
      display: flex;
      flex-direction: column;
      &-title {
        flex: 0.5;
        h3 {
          font-size: 1.8em;
          font-family: $pixel-font;
          margin-top: 0;
        }
      }
      &-content {
        flex: 9.5;
        overflow-y: scroll;
        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
    &-right {
      height: 80%;
      padding: 10px;
      display: flex;
      flex-direction: column;
      &-title {
        flex: 0.5;
        h3 {
          font-size: 1.8em;
          font-family: $pixel-font;
          margin-top: 0;
        }
      }
      &-content {
        flex: 9.5;
        overflow-y: scroll;
        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }
}
