.raid {
  display: flex;
  font-size: 0.8em;
  &-left {
    flex: 1;
    display: flex;
    justify-content: space-around;
    h2 {
      font-size: 1.5em;
      font-family: $pixel-font;
      margin-top: 0;
    }
  }
  &-right {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
