<div class="toons">
  <div class="toons-container">
    <% @toons.each do |toon| %>
      <%= render 'toon_card' %>
    <% end %>
    <%= link_to 'import a new character', new_toon_path %>
  </div>
</div>
