<div class="toons">
  <div class="toons-title">
    <h1>My Characters</h1>
  </div>
  <div class="toons-container">
    <%= render 'toon_card' %>
    <%= render 'new_toon_card' %>
    <%= render 'fake_cards' %>
  </div>
</div>
