<% content_for :title, 'Import a new character' %>

<div class="devise">
  <div class="devise-content">
    <%= simple_form_for @toon do |f| %>
    <%= f.input :name, required: true %>
    <%= f.association :realm %>
    <%= f.submit 'Import', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
