<div class="footer">
  <div class="tchin">
    <div class="tchin-socials">
      <i class="fa fa-twitch"></i>
      <i class="fa fa-twitter"></i>
      <%= image_tag 'https://discordapp.com/assets/1c8a54f25d101bdc607cec7228247a9a.svg', style: 'width: 18px; height: 18px; vertical-align: text-top;' %>
    </div>
    <div class="tchin-content">
      <p>Tchinontwitch<i class="fa fa-copyright"></i> 2017 </p>
    </div>
  </div>
  <div class="volchan">
    <div class="volchan-socials">
      <i class="fa fa-github"></i>
      <i class="fa fa-slack"></i>
      <i class="fa fa-linkedin"></i>
    </div>
    <div class="volchan-content">
      <p><i class="fa fa-code"></i> with <i class="fa fa-heart" style="color: #EE5F5B"></i> by Volchan</p>
    </div>
  </div>
</div>
