<% raids.each do |raid| %>
  <div class="raid">
    <%= link_to raid_path(raid) do %>
      <h2><%= raid.dungeon.name %></h2>
      <p><%= "#{Time.parse(raid.date).to_date.strftime('%A %d %B %Y')} at #{Time.parse(raid.date).strftime('%H:%M')}" %></p>
    <% end %>
  </div>
<% end %>
