<% raids.each do |raid| %>
  <div class="raid">
    <%= link_to raid_path(raid) do %>
      <%= image_tag faction_pic(raid) %> <span><%= "#{raid.dungeon.name} #{raid_difficulty_display(raid)} #{raid_slots(raid)}" %></span>
    <% end %>
    <p><%= "#{raid.date.strftime('%A %d %B %Y')} at #{raid.date.strftime('%H:%M')}" %></p>
  </div>
<% end %>
