<div class="home">
  <div class="home-raids">
    <div class="home-raids-left">
      <div class="home-raids-left-title text-center">
        <h3>Upcoming raids</h3>
      </div>
      <div class="home-raids-left-content">
        <%= render partial: 'raids_displayer', locals: { raids: @upcoming_raids } %>
      </div>
    </div>
    <div class="home-raids-right">
      <div class="home-raids-right-title text-center">
        <h3>Past raids</h3>
      </div>
      <div class="home-raids-right-content">
        <%= render partial: 'raids_displayer', locals: { raids: @past_raids } %>
      </div>
    </div>
  </div>
</div>
