.footer {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .tchin {
    height: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    &-socials {
      display: flex;
      width: 80%;
      justify-content: space-around;
      .discord {
        height: 18px;
        width: 18px;
      }
    }
    &-content {
      p {
        margin: 0;
        font-size: 12px;
      }
      i {
        font-size: 9px;
        vertical-align: text-top;
      }
    }
  }
  .volchan {
    height: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    &-socials {
      display: flex;
      width: 80%;
      justify-content: space-around;
    }
    &-content {
      p {
        margin: 0;
        font-size: 12px;
      }
    }
  }
}
