.site {
  display: flex;
  flex: 1;
  flex-direction: column;
  &-content {
    flex: 7.5;
    display: flex;
  }
  &-footer {
    flex: 1;
  }
}

@media (max-width: $screen-xs) {
  .site {
    &-content {
      flex: 0;
      height: 600px;
    }
  }
}
