<div class="devise">
  <div class="devise-content">
    <%= simple_form_for [@raid, @tag] do |f| %>
    <%= f.association :toon, collection: @toons %>
    <%= f.submit 'Apply', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
