.accepted-card {
  height: 50px;
  margin: 10px;
  display: flex;
  border-radius: 4px;
  box-shadow: 1px 0 3px rgba(0, 0, 0, .25);
  background-color: lighten(#191919, 10%);
  &-img {
    flex: 1;
    border-radius: 4px 0 0 4px;
    background-size: cover;
    background-position: center;
  }
  &-infos {
    flex: 8;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    justify-content: center;
    p {
      margin: 0;
      font-size: small;
    }
    span {
      font-size: small;
    }
    img {
      width: 18px;
      vertical-align: sub;
    }
  }
  &-btns {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .fake-div-status {
      width: 13.7px;
    }
    .fake-div {
      width: 12.58px;
    }
    a {
      .delete {
        color: darken($red, 10%);
        &:hover {
          color: darken($red, 20%);
        }
      }
    }
  }
}
