.accepted-card {
  height: 150px;
  width: 150px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  position: relative;
  box-shadow: 1px 0 3px rgba(0, 0, 0, .25);
  background-color: lighten(#191919, 10%);
  .leader-ico {
    top: -7px;
    left: -7px;
    position: absolute;
    color: $brand-color;
  }
  &-img {
    flex: 1;
    border-radius: 4px;
    background-size: 200%;
    background-position: 50% 65%;
  }
  &-infos {
    width: 100%;
    bottom: 0;
    font-size: 1em;
    display: flex;
    position: absolute;
    flex-direction: column;
    padding: 5px;
    justify-content: center;
    p {
      margin: 0;
      font-size: 0.8em;
    }
    span {
      font-size: 0.8em;
    }
    img {
      width: 10px;
      vertical-align: sub;
    }
  }
  &-btns {
    top: 2px;
    right: 5px;
    position: absolute;
  }
}
