.accepted-card {
  height: 130px;
  width: 130px;
  margin: 10px;
  border-radius: 4px;
  position: relative;
  box-shadow: 1px 0 3px rgba(0, 0, 0, .25);
  background-color: lighten(#191919, 10%);
  .leader-ico {
    top: -7px;
    left: -7px;
    position: absolute;
    color: $brand-color;
  }
  &-img {
    height: 100%;
    width: 100%;
    border-radius: 4px;
    background-size: 200%;
    background-position: 50% 65%;
  }
  &-infos {
    bottom: 0;
    width: 100%;
    padding: 5px;
    font-size: 0.6em;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    &-top {
      display: flex;
      align-items: center;
      i {
        font-size: 0.75em;
        margin: 0 5px 0 0;
      }
    }
    p {
      margin: 0 5px 0 0;
    }
    img {
      width: 12px;
      margin: 0 5px 0 0;
      border-radius: 4px;
    }
  }
  &-btns {
    top: 2px;
    right: 5px;
    position: absolute;
    .user-note, .tag-note {
      color: $brand-color;
      &:hover {
        color: darken($brand-color, 20%);
      }
    }
  }
}
