.pending-card {
  height: 50px;
  margin: 10px;
  display: flex;
  border-radius: 4px;
  box-shadow: 1px 0 3px rgba(0, 0, 0, .25);
  background-color: lighten(#191919, 10%);
  &-img {
    flex: 1;
    border-radius: 4px 0 0 4px;
    background-size: cover;
    background-position: center;
  }
  &-infos {
    flex: 7.5;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    justify-content: center;
    .user-note{
      color: $brand-color;
      vertical-align: text-top;
      &:hover {
        color: darken($brand-color, 20%);
      }
    }
    p {
      margin: 0;
      font-size: small;
    }
    span {
      font-size: small;
    }
    img {
      width: 18px;
      vertical-align: sub;
    }
  }
  &-btns {
    flex: 1.5;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .tag-note{
      color: $brand-color;
      vertical-align: text-top;
      &:hover {
        color: darken($brand-color, 20%);
      }
    }
    .fake-div-status {
      width: 13.7px;
    }
    .fake-div {
      width: 12.58px;
    }
    a {
      .accept {
        color: darken($green, 10%);
        &:hover {
          color: darken($green, 20%);
        }
      }
      .refuse {
        color: darken($red, 10%);
        &:hover {
          color: darken($red, 20%);
        }
      }
      .delete {
        color: darken($red, 10%);
        &:hover {
          color: darken($red, 20%);
        }
      }
    }
  }
}

@media (max-width: $screen-xs) {
  .pending-card {
    margin: 0px 10px 5px 10px;
    i, a {
      font-size: xx-small;
    }
    &-infos {
      padding-left: 2px;
      p {
        font-size: xx-small;
      }
      span {
        font-size: xx-small;
      }
      img {
        width: 10px;
        vertical-align: baseline;
      }
    }
    &-btns {
      flex-direction: column;
      .fake-div-status {
        height: 9px;
      }
      .fake-div {
        height: 9px;
      }
    }
  }
}

@media (max-width: $screen-sm) {
  .pending-card {
    i, a {
      font-size: x-small;
    }
    &-infos {
      padding-left: 5px;
      p {
        font-size: x-small;
      }
      span {
        font-size: x-small;
      }
      img {
        width: 14px;
        vertical-align: baseline;
      }
    }
    &-btns {
      i, a {
        font-size: small;
      }
    }
  }
}
