.raid-show {
  flex: 1;
  display: flex;
  flex-direction: column;
  &-title {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-name {
      position: relative;
    }
    img {
      top: 8px;
      left: -21px;
      position: absolute;
    }
    h1 {
      margin: 0;
      font-size: 2em;
      font-family: $pixel-font;
    }
    h3 {
      margin: 0;
      margin-top: -11px;
      font-size: 1.5em;
      color: $brand-color;
    }
  }
  &-tags {
    flex: 8.5;
    display: flex;
    &-pending {
      flex: 1;
      display: flex;
      flex-direction: column;
      &-title {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        h3 {
          margin: 0;
        }
      }
      &-content {
        flex: 9;
        overflow-y: scroll;
        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
    &-accepted {
      flex: 1;
      display: flex;
      flex-direction: column;
      &-title {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        h3 {
          margin: 0;
        }
      }
      &-content {
        flex: 9;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        &::-webkit-scrollbar {
          display: none;
        }
        &-title {
          padding: 0 10px;
          align-items: center;
          p {
            margin: 0;
          }
        }
        &-tanks {
          min-height: 140px;
          margin-top: -5px;
          margin-bottom: 5px;
          display: flex;
          flex-wrap: wrap;
        }
        &-heals {
          min-height: 140px;
          margin-top: -5px;
          margin-bottom: 5px;
          display: flex;
          flex-wrap: wrap;
          overflow-y: scroll;
          &::-webkit-scrollbar {
            display: none;
          }
        }
        &-dps {
          flex: 1;
          margin-top: -5px;
          margin-bottom: 5px;
          display: flex;
          flex-wrap: wrap;
        }
      }
    }
  }
}

@media (max-width: $screen-xs) {
  .raid-show {
    width: 100%;
    &-title {
      flex: 1;
      h1 {
        font-size: 1.1em;
        margin-left: 20px;
      }
      img {
        top: 2px;
        left: 3px;
      }
      h3 {
        font-size: 0.9em;
        margin-top: -3px;
      }
    }
    &-tags {
      width: 100%;
      flex-direction: column;
      &-pending {
        margin-bottom: 10px;
        &-title {
          h3 {
            font-size: 1em;
          }
        }
        &-content {
          display: block;
          border-radius: 4px;
        }
      }
      &-accepted {
        &-title {
          h3 {
            font-size: 1em;
          }
        }
      }
    }
  }
}
